<a href="https://colab.research.google.com/github/Rdk12345/rohit018/blob/main/Customer_Credit_Card.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Run below commands to download the spark from apache website
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-3.4.2/spark-3.4.2-bin-hadoop3.tgz
!tar xf spark-3.4.2-bin-hadoop3.tgz
!pip install -q findspark

In [6]:
# Run below command to list out the downlaoded cofing files for  the spark
!ls -a

 .	  'credit card (1).csv'   spark-3.4.2-bin-hadoop3
 ..	   loan.csv		  spark-3.4.2-bin-hadoop3.tgz
 .config   sample_data		  spark-3.4.2-bin-hadoop3.tgz.1

In [7]:
# Run below command to setup environment for  the spark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.2-bin-hadoop3"

In [8]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import *

In [9]:
dfc = spark.read.csv("/content/credit card (1).csv", inferSchema = True, header = True)

In [12]:
dfc.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [10]:
#the number members who are eligible and active on bank
dfc.filter((dfc["IsActiveMember"]==1) & (dfc["CreditScore"]>700)).count()

1637

In [17]:
#the members who are eligible for credit card
dfc.filter(dfc["CreditScore"]>700).count()

3116

In [20]:
#the number of users in specific region
dfc.groupBy("Geography").count().show()

+---------+-----+
|Geography|count|
+---------+-----+
|  Germany| 2509|
|   France| 5014|
|    Spain| 2477|
+---------+-----+

In [21]:
#targeted persons count whose tenture is less than 5 and who exit
dfc.filter((dfc["Tenure"]<5) & (dfc["Exited"]==1)).count()

944

In [24]:
#number of customers whose estimated salary is less than 1 lakh
dfc.filter(dfc["EstimatedSalary"]<100000).count()

4990

In [16]:
#The customers who are eligle for credit card
dfc.select("CustomerId","Surname").filter(dfc["CreditScore"]>700).show()

+----------+----------+
|CustomerId|   Surname|
+----------+----------+
|  15737888|  Mitchell|
|  15592531|  Bartlett|
|  15568982|       Hao|
|  15577657|  McDonald|
|  15625047|       Yen|
|  15736816|     Young|
|  15732963|  Clements|
|  15729599|   Lorenzo|
|  15717426| Armstrong|
|  15755196|    Lavine|
|  15754849|     Tyler|
|  15602280|    Martin|
|  15771873|    Buccho|
|  15683553|   O'Brien|
|  15647091|  Endrizzi|
|  15651280|    Hunter|
|  15789484|   Hammond|
|  15641582|   Chibugo|
|  15703793|Konovalova|
|  15620344|     McKee|
+----------+----------+
only showing top 20 rows